* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid .1px; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border-bottom: solid 10px;
}

main {
    width: 80%;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hero-section {
    max-height: 100vh;
    width: 100%;
    background-color: azure;
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.hero-img-container {
    width: 50%;
    background-color: rgb(0, 155, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    height: 75%;
    object-fit: scale-down;
    overflow: hidden;
    opacity: .7;
}

.nav-group {
    display: flex;
}


.nav-links {
    text-decoration: none;
    list-style: none;
}

.section {
    scroll-snap-align: start;
    height: auto;
    width: 100%;
    background-color: aqua;

}

.project-wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.project-card {
    border: solid .1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 300px;
    width: 400px;
}

.main-project {
    height: 500px;
    width: 100%;
}

.footer {
    height: 200px;
}
