/* ---------- Color Pallets ---------- */
:root{

    /* Paste out all color pallet links to access them easily. */

    /* https://colorhunt.co/palette/362706464e2eacb992e9e5d6 */
    --dark1:#362706;
    --dark2: #ACB992;
    --light1: #E9E5D6;
    --light2: #464E2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid .1px; */
}

html {
    /* Bakcground Creator: 
    <a href="https://www.freepik.com/free-photo/beige-paintbrush-stroke-textured-background_17839870.htm#query=texture%20background&position=12&from_view=keyword">Image by rawpixel.com</a> on Freepik
     */
    background-image: url(assets/images/beige-paintbrush-stroke-textured-background.jpg);
    background-position: center;
    background-size: cover;
}

body {
    /* Limiting width because anything over 2500 seems insance and elements on the page are too far apart */
    background-color: var(--light1);
    max-width: 2500px;
    margin: 0 auto;
    border: solid 2px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

p, li, a {
    font-family: 'Archivo Narrow', sans-serif;
    text-decoration: none;
}

li a {
    text-decoration: none;
    list-style: none;
}

/* ---------- Header, Logo, and Navigation Bar ---------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-bottom: solid 1px var(--dark1);
    padding-top: 10px;
    background-color: var(--dark1);
    color: var(--light1);
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
}

.icon-img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo-subtitle {
    font-size: 6rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark2)
}

.nav-group {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-group li {
    display: flex;
    align-items: center;
    font-size: 36px;
    text-decoration: none;
    list-style: none;
    padding: 10px 50px;
    color: var(--dark1);
}

/* ---------- Main Section - Wraps all Projects down to Footer ---------- */
main {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: var(--dark2); */
}

/* ---------- About Me / Bio Section ---------- */

.bio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#about-me {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;

    background-color: var(--light1);
    color: var(--dark1);
}

.bio-left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}

.bio-title {
    font-size: 5rem;
    padding: 20px 30px;
    text-align: center;
}

.bio-content-wrapper {
    height: 100px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.bio-mini-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 25%;
    position: relative;
    padding: 10px;
    text-align: center;
}
.bio-mini-card-inner {
    border-right: solid .1px;
}

.bio-mini-card p {
    font-size: 24px;
}

.bio-icon {
    position: absolute;
    height: 100px;
    top: 0;
    opacity: .1;
}

.bio-wrapper {
    padding: 20px 30px;
}

.bio-text {
    line-height: 3rem;
    font-size: 24px;
    padding: 10px 20px;
}

.bio-text a {
    font-weight: bold;
    color: var(--light2);
}

.bio-img-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-img {
    width: 100%;
    max-height: 600px;
    object-fit: scale-down;
    overflow: hidden;
    opacity: .7;
    border: solid;
    border-radius: 20px;
    margin: 10px;
    background-color: var(--dark1)
}

/* ---------- My Work / Projects Section---------- */

.section {
    height: auto;
    width: 100%;
}

.section-header {
    font-size: 5rem;
    text-align: center;
    padding: 30px;
    background-color: var(--light2);
    color: var(--light1);
    border-top: 5px solid var(--dark1);
    border-bottom: 5px solid var(--dark1);
}

.project-wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1750px;
}

.project-card {
    border: solid 4px var(--dark1);
    box-shadow: 3px 3px 8px var(--light2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 500px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke; 
    opacity: .9;
    padding: 0px 10px;
    width: 100%;
    font-size: 24px;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    opacity: .9;
    width: 100%;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 1.5rem;
}

.project-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: var(--light1);
    border: 1px solid var(--dark1);
    border-radius: 15px;
}

.project-links {
    text-align: center;
    display: none;
    color: var(--dark1);
    padding: 5px 20px;
    width: 100%;
    opacity: .7;
}

.project-links-top {
    border-bottom: .25px solid;

}

.project-links-wrapper a {
    text-decoration: none;
    color: var(--dark1);
    font-size: 24px;
}

.main-project {
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-project .project-img-holder {
    height: 100%;
    width: 100%;
}

.project-img-holder {
    background-color: var(--light2);
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;
}

/* ---------- Contact Me / Call to Action Section---------- */
#contact-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-me-title {
    text-align: center;
    width: 100%;
    background-color: var(--dark2);
    font-size: 36px;
    padding: 20px 50px;
    margin-bottom: 20px;
    border-bottom: solid 1px var(--dark1);
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 25%;
}

.contact-group-inner {
    border-right: 1px solid;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0px;
    width: 100%;
}

.contact-text-link {
    display: none;
}

.contact-text-link, .phone-text {
    font-size: 18px;
    font-weight: bold;
}

.phone-icon-group {
    position: relative;
}

.phone-text {
    position: absolute;
    display: none;
}

.contact-section-img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 100px;
}

.contact-icon-img {
    height: 100px;
    width: 100px;
}

/* ---------- Footer Section ---------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark1);
    color: var(--light1);
    font-size: 24px;
    padding: 50px;
}

.footer-text {
    padding-bottom: 20px;
}

.footer-link {
    color: var(--light1);
}

/* ---------- Pseudo Elements ---------- */

.nav-links:visited {
    color: var(--dark1);
}

.footer-link:visited {
    color: var(--light1);
}

/*  Contact Icons on Hover */
.contact-group-inner:hover {
    opacity: .5;
}

/* Effects for Phone Icon Only */
.phone-icon-group:hover .contact-icon-img {
    opacity: .2;
}

.phone-icon-group:hover .phone-text {
    display: block;
    opacity: 1;
}

/* Blur background images and show links on hover */
.project-img-holder:hover {
    filter: blur(4px);
    transition: all 0.25s ease-out;
}

.project-card:hover .project-links {
    display: block;
}



/* ----- Media Queries ----- */

/* 1750px */
@media screen and (max-width: 1250px) {
    .project-card {
        width: 100%;
    }
    
    
}

/* 992px*/
@media screen and (max-width: 992px) {
    .about-me {
        width: 100%;
        align-items: center;
    }
    .hero-img-container {
        width: 100%;
    }

    .hero-img {
        width: 60%;
    } 
}

/*  768px */
@media screen and (max-width: 768px) {

    .bio-content-wrapper {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .bio-mini-card {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .bio-mini-card-inner {
        border: none;
        border-bottom: .1px solid;
    }
    .section-header {
        font-size: 2rem;
    }

    .contact-links {
        padding: 15px 0;
    }

    .contact-group {
        width: 75%;
        padding: 15px 0;
    }

    .contact-icon-img {
        display: none;
    }

    .contact-text-link {
        display: block;
    }

    .contact-group-inner {
        border-right: none;
        border-bottom: .1px solid;
    }

    .phone-text {
        display: block;
    }
    
}
