/* ---------- Color Pallets ---------- */
:root{

    /* Paste out all color pallet links to access them easily. */

    /* https://colorhunt.co/palette/362706464e2eacb992e9e5d6 */
    --dark1:#362706;
    --dark2: #ACB992;
    --light1: #E9E5D6;
    --light2: #464E2E;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid .1px; */
}

body {
    background-color: var(--light1)
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

p, li, a {
    font-family: 'Archivo Narrow', sans-serif;
}

li a {
    text-decoration: none;
    list-style: none;
}

/* ---------- Header, Logo, and Navigation Bar ---------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-bottom: solid 1px var(--dark1);
    padding-top: 10px;
    background-color: var(--dark1);
    color: var(--light1);
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
}

.icon-img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .logo {
 nothing needed at the moment
} */

.logo-subtitle {
    font-size: 6rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark2)
}

.nav-group {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-group li {
    font-size: 36px;
    text-decoration: none;
    list-style: none;
    padding: 10px 50px;
    color: var(--dark1);
}

/* ---------- Main Section - Wraps all Projects down to Footer ---------- */
main {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
}

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
    padding: 50px 30px;

    background-color: var(--light1);
    color: var(--dark1);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}

.hero-title {
    font-size: 6rem;
    padding: 20px 30px;
}

.hero-content {
    padding: 20px 100px;
}

.bio-wrapper {
    padding: 20px 30px;
}

.bio-text {
    padding: 30px 0;
}

.hero-img-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100%;
    max-height: 400px;
    object-fit: scale-down;
    overflow: hidden;
    opacity: .7;
    border: solid;
    border-radius: 20px;
    margin: 20px;
    background-color: whitesmoke;
}

.section {
    height: auto;
    width: 100%;
}

.project-wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1750px;
}

.project-card {
    border: solid .1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
    height: 400px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke; 
    opacity: .9;
    padding: 0px 10px;
    width: 100%;
    font-size: 24px;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    opacity: .9;
    width: 100%;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 1.5rem;
}

.project-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.project-links {
    display: none;
    color: whitesmoke;
    background-color: black;
}

.project-links-wrapper a {
    text-decoration: none;
    color: whitesmoke;
}

.main-project {
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-project .project-img-holder {
    height: 100%;
    width: 100%;
}

.project-img-holder {
    background-color: black;
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    filter: blur(0);
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

.contact-img {
    height: 400px;
}

.contact-icon-img {
    height: 150px;
    width: 150px;

}

footer {
    height: 200px;
}

/* ----- Pseudo Elements ----- */

.nav-links:visited {
    color: var(--dark1);
}

/* Blur background images and show links on hover */
.project-img-holder:hover {
    filter: blur(4px);
    transition: all 0.25s ease-out;
}

.project-card:hover .project-links {
    display: block;
}



/* ----- Media Queries ----- */

/* 1750px */
@media screen and (max-width: 1250px) {
    .project-card {
        width: 100%;
    }
    
    
}

/* 992px*/
@media screen and (max-width: 992px) {
    .about-me {
        width: 100%;
        align-items: center;
    }
    .hero-img-container {
        width: 100%;
    }

    .hero-img {
        width: 60%;
    } 
}

/*  768px */
@media screen and (max-width: 768px) {
    
    
}
